<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BeingCitizen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Donate</a>
            </li>
            <li class="nav-item">
                {{ activeUser.email }}
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" (click)="onLogout();">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-lg-2 side-nav">
        <ul>
            <li [routerLink]="['/admin/dashboard']" routerLinkActive="active">
                Dashboard
            </li>
            <li [routerLink]="['/admin/student']" routerLinkActive="active">
                Students
            </li>
            <li [routerLink]="['/admin/school']" routerLinkActive="active">
                Schools
            </li>
        </ul>
    </div>
    <div class="col-lg-10 main">
        <router-outlet></router-outlet>
    </div>
</div>