.add-std-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .head{
        margin: 20px 0;
        text-align: center;
    }
    form{
        width: 600px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        padding: 20px;
        .amenities-item{
            .item-inner{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
            }
        }
    }
}