<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">School</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">School Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of schoolList; let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.school_name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.mobile }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>